/***************************************************************/
/***** 프로젝트명 : 한화FC종합전산구축프로젝트	********/
/***** 작  성  일 : 2014.11.				********/
/***** 작  성  자 : TOBESOFT				********/
/***** 배  포  일 : 2014.00.				********/
/***** 수  정  자 :  					********/
/***** 수  정  일 :  					********/
/***** 수정내역   :  					********/
/***************************************************************/

/** HWFS Theme에 쓰이는 속성만 쓰여있습니다 **/

/*********************** Frame(테마) Start **************************************/
/*********************************************************************************/
/*********************** Main Frame Start ****************************************/
/*********************************************************************************/
MainFrame>TitlebarForm
{
	background			: #0098a1 URL('theme://images/new/sta_TT_Bg.png') left middle;
	border				: 0 none, 0 none, 1 solid #018e94, 0 none;
}
MainFrame>TitlebarForm>#minbutton
{
	background			: transparent URL('theme://images/new/img_TT_MinBtnN.png') center middle;
}
MainFrame>TitlebarForm>#minbutton:mouseover
{
	background			: transparent URL('theme://images/new/img_TT_MinBtnO.png') center middle;
}
MainFrame>TitlebarForm>#minbutton:pushed
{
	background			: transparent URL('theme://images/new/img_TT_MinBtnP.png') center middle;
}
MainFrame>TitlebarForm>#maxbutton
{
	background			: transparent URL('theme://images/new/img_TT_MaxBtnN.png') center middle;
}
MainFrame>TitlebarForm>#maxbutton:mouseover
{
	background			: transparent URL('theme://images/new/img_TT_MaxBtnO.png') center middle;
}
MainFrame>TitlebarForm>#maxbutton:pushed
{
	background			: transparent URL('theme://images/new/img_TT_MaxBtnP.png') center middle;
}
MainFrame>TitlebarForm>#normalbutton
{
	background			: transparent URL('theme://images/new/img_TT_NormalBtnN.png') center middle;
}
MainFrame>TitlebarForm>#normalbutton:mouseover
{
	background			: transparent URL('theme://images/new/img_TT_NormalBtnO.png') center middle;
}
MainFrame>TitlebarForm>#normalbutton:pushed
{
	background			: transparent URL('theme://images/new/img_TT_NormalBtnP.png') center middle;
}
MainFrame>TitlebarForm>#closebutton
{
	background			: transparent URL('theme://images/new/img_TT_CloseBtnN.png')  center middle;
}
MainFrame>TitlebarForm>#closebutton:mouseover
{
	background			: transparent URL('theme://images/new/img_TT_CloseBtnO.png') center middle;
}
MainFrame>TitlebarForm>#closebutton:pushed
{
	background			: transparent URL('theme://images/new/img_TT_CloseBtnP.png') center middle;
}



/*********************************************************************************/
/*********************** Main Frame End ****************************************/
/*********************************************************************************/


/*********************************************************************************/
/*********************** TitleBar /Top Frame Start *******************************/
/*********************************************************************************/
/******** B ********/
Button.btn_TT_System, Button.btn_TT_System:focused, Button.btn_TT_System:disabled
{
	color				: #cceaec;
}

Button.btn_TT_Change, Button.btn_TT_Change:focused, Button.btn_TT_Change:disabled
{
	color				: #cceaec;
}
Button.btn_TT_Control, Button.btn_TT_Control:focused, Button.btn_TT_Control:disabled
{
	color				: #cceaec;
}
Button.btn_TT_Logout, Button.btn_TT_Logout:focused, Button.btn_TT_Logout:disabled
{
	color				: #ccdcb7;
}
Button.btn_TF_Gnb, Button.btn_TF_Gnb:disabled
{
	background			: transparent URL('theme://images/new/img_TF_MenuBgLine.png') right top;
}
Button.btn_TF_Gnb:mouseover, Button.btn_TF_Gnb:pushed
{
	background			: transparent URL('theme://images/new/img_TF_MenuBg.png') stretch 3,3;
	color				: #ebc93f;
}
Button.btn_TF_Gnb:selected, Button.btn_TF_Gnb:focused
{
	background			: transparent URL('theme://images/new/img_TF_MenuBg.png') stretch 3,3;
	color				: #ebc93f;
	image				: URL('theme://images/new/img_TF_MenuBgS.png');
}
Button.btn_TF_GnbS, Button.btn_TF_GnbS:mouseover, Button.btn_TF_GnbS:pushed, 
Button.btn_TF_GnbS:focused, Button.btn_TF_GnbS:selected, Button.btn_TF_GnbS:disabled
{
	background			: transparent URL('theme://images/new/img_TF_MenuBg.png') stretch 3,3;
	color				: #ebc93f;
	image				: URL('theme://images/new/img_TF_MenuBgS.png');
}
Button.btn_TF_MenuPrev, Button.btn_TF_MenuPrev:focused
{
	background			: URL('theme://images/new/btn_TF_menuPrevN.png') center middle;
}
Button.btn_TF_MenuPrev:mouseover, Button.btn_TF_MenuPrev:selected
{
	background			: URL('theme://images/new/btn_TF_MenuPrevO.png') center middle;
}
Button.btn_TF_MenuPrev:pushed
{
	background			: URL('theme://images/new/btn_TF_MenuPrevP.png') center middle;
}
Button.btn_TF_MenuPrev:disabled
{
	background			: transparnet URL('theme://images/new/btn_TF_MenuPrevD.png') center middle;
}
Button.btn_TF_MenuNext, Button.btn_TF_MenuNext:focused
{
	background			: URL('theme://images/new/btn_TF_MenuNextN.png') center middle;
}
Button.btn_TF_MenuNext:mouseover, Button.btn_TF_MenuNext:selected
{
	background			: URL('theme://images/new/btn_TF_MenuNextO.png') center middle;
}
Button.btn_TF_MenuNext:pushed
{
	background			: URL('theme://images/new/btn_TF_MenuNextP.png') center middle;
}
Button.btn_TF_MenuNext:disabled
{
	background			: transparnet URL('theme://images/new/btn_TF_MenuNextD.png') center middle;
}
Button.btn_TF_Formfind:mouseover, Button.btn_TF_Formfind:selected
{
	background			: URL('theme://images/new/btn_TF_FormfindO.png') center middle;
}
Button.btn_TF_Formfind:pushed
{
	background			: URL('theme://images/new/btn_TF_FormfindP.png') center middle;
}
Button.btn_TF_Formfind:disabled
{
	background			: transparent URL('theme://images/new/btn_TF_FormfindD.png') center middle;
}


/******** S ********/
Static.sta_TT_Bg
{
	background			: #0098a1 URL('theme://images/new/sta_TT_Bg.png') left middle;
	border				: 0 none, 0 none, 1 solid #018e94, 0 none;
}
Static.sta_TF_Bg
{
	background			: #01a7ad;
	border				: 0 none, 0 none, 2 solid #ee4e1b, 0 none;
}


/*********************************************************************************/
/*********************** TitleBar /Top Frame Start *******************************/
/*********************************************************************************/


/*********************************************************************************/
/*********************** Left Frame Start ****************************************/
/*********************************************************************************/
/******** G ********/
Grid.grd_LF_RecentMenu
{
	color				: #c5ebec;
}
Grid.grd_LF_RecentMenu>#body
{
	color				: #c5ebec;
	cellcolor			: #c5ebec;
	cellcolor2			: #c5ebec;
	selectbackground		: transparent;
	selectcolor			: #c5ebec;
}
Grid.grd_LF_RecentMenu>#body:mouseover
{
	cellbackground			: #429da0;
	cellbackground2			: #429da0;
	cellcolor			: #ffffff;
	cellcolor2			: #ffffff;
	selectbackground		: #429da0;
	selectcolor			: #ffffff;
}


/*********************************************************************************/
/*********************** Left Frame End ****************************************/
/*********************************************************************************/


/*********************************************************************************/
/*********************** Basic Component Start ***********************************/
/*********************************************************************************/
/******** G ********/
Grid>#body
{
	selectbackground		: #24a3a8;
}
Grid>#body:mouseover
{
	cellbackground			: #d5f2f4;
	cellbackground2			: #d5f2f4;
	selectbackground		: #24a3a8;
}


/*********************************************************************************/
/*********************** Basic Component End ***********************************/
/*********************************************************************************/

/*********************************************************************************/
/*********************** 일반 클래스 컴포넌트 Start   ****************************/
/*********************************************************************************/
/******** B ********/
Button.btn_WF_searchCm, Button.btn_WF_searchCm:focused
{
	align				: left middle;
	background			: #ea5424 URL('theme://images/new/btn_WF_searchCm.png') left middle;
	border				: 0 none;
	bordertype			: round 3 3;
	color				: #ffffff;
	font				: Gulim,9,bold;
	padding				: 1 0 0 26;
	shadow				: 0 0;
}
Button.btn_WF_searchCm:mouseover, Button.btn_WF_searchCm:selected
{
	background			: #ff8963 URL('theme://images/new/btn_WF_searchCm.png') left middle;
	border				: 0 none;
	color				: #ffffff;
}
Button.btn_WF_searchCm:pushed
{
	background			: #e27958 URL('theme://images/new/btn_WF_searchCm.png') left middle;
	border				: 1 solid #b56146, 0 none, 0 none, 0 none;
	color				: #ffffff;
	padding				: 0 0 0 26;
}
Button.btn_WF_searchCm:disabled
{
	background			: #e2c7b7 URL('theme://images/new/btn_WF_searchCmD.png') left middle;
	border				: 0 none;
	color				: #f3e9e2;
}
Button.btn_WFSA_BgOpen1
{
	background			: URL('theme://images/new/btn_WFSA_BgOpen1N.png') right bottom;
	border				: 0 none;
	bordertype			: normal;
	shadow				: 0 0;
}
Button.btn_WFSA_BgOpen1:mouseover, Button.btn_WFSA_BgOpen1:focused, Button.btn_WFSA_BgOpen1:pushed
{
	background			: URL('theme://images/new/btn_WFSA_BgOpen1O.png') right bottom;
	border				: 0 none;
}
Button.btn_WFSA_BgOpen1:disabled
{
	background			: URL('theme://images/new/btn_WFSA_BgOpen1D.png') right bottom;
	border				: 0 none;
}
Button.btn_WFSA_BgClose1, Button.btn_WFSA_BgClose1:selected
{
	background			: URL('theme://images/new/btn_WFSA_BgClose1N.png') right bottom;
	border				: 0 none;
	bordertype			: normal;
	shadow				: 0 0;
}
Button.btn_WFSA_BgClose1:mouseover, Button.btn_WFSA_BgClose1:focused, Button.btn_WFSA_BgClose1:pushed
{
	background			: URL('theme://images/new/btn_WFSA_BgClose1O.png') right bottom;
	border				: 0 none;
}
Button.btn_WFSA_BgClose1:disabled
{
	background			: URL('theme://images/new/btn_WFSA_BgClose1D.png') right bottom;
	border				: 0 none;
}


/******** C ********/
Cell.Cellgrd_WF_CalExpand
{
	selectbackground		: #24a3a8 URL('theme://images/new/cal_WF_IconN.png') center middle;
}
Cell.Cellgrd_WF_CalExpand:mouseover
{
	background			: #d5d7f4 URL('theme://images/new/cal_WF_IconN.png') center middle;
	background2			: #d5d7f4 URL('theme://images/new/cal_WF_IconN.png') center middle;
	selectbackground		: #d5d7f4 URL('theme://images/new/cal_WF_IconN.png') center middle;
}

/******** D ********/
Div.div_WFSA_Labelbg
{
	background			: #dcf7f9;
	border				: 1 solid #72c1c8;
}


/******** G ********/
Grid>#body>Cell.Cellgrd_WF_Plusbtn
{
	selectbackground		: #24a3a8 URL('theme://images/new/grd_WF_Plusbtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Plusbtn:mouseover
{
	background			: #d5f2f4 URL('theme://images/new/grd_WF_Plusbtn.png') center middle;
	background2			: #d5f2f4 URL('theme://images/new/grd_WF_Plusbtn.png') center middle;
	selectbackground		: #24a3a8 URL('theme://images/new/grd_WF_Plusbtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Minusbtn
{
	selectbackground		: #24a3a8 URL('theme://images/new/grd_WF_Minusbtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Minusbtn:mouseover
{
	background			: #d5f2f4 URL('theme://images/new/grd_WF_Minusbtn.png') center middle;
	background2			: #d5f2f4 URL('theme://images/new/grd_WF_Minusbtn.png') center middle;
	selectbackground		: #24a3a8 URL('theme://images/new/grd_WF_Minusbtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Camerabtn
{
	selectbackground		: #24a3a8 URL('theme://images/new/grd_WF_Camerabtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Camerabtn:mouseover
{
	background			: #d5f2f4 URL('theme://images/new/grd_WF_Camerabtn.png') center middle;
	background2			: #d5f2f4 URL('theme://images/new/grd_WF_Camerabtn.png') center middle;
	selectbackground		: #24a3a8 URL('theme://images/new/grd_WF_Camerabtn.png') center middle;
}


/******** S ********/
Static.sta_WF_Title, Static.sta_WF_Title:disabled
{
	align				: left top;
	background			: URL('theme://images/new/sta_WF_Title.png') left top;
	font				: Gulim, 10, bold;
	color				: #198990;
	padding				: 2 0 0 20;
}
Static.sta_WFSA_Labelbg
{
	background			: #dcf7f9;
	border				: 1 solid #72c1c8;
}

/***************************20150225 추가*******************************/
Static.sta_WF_GridBg
{
	background			: #ffffff;
	border				: 1 solid #adadad;
}

Cell.Cellgrd_WF_Point
{
	background			: #fffbcc;
	background2			: #fffbcc;
	line				: 1px solid #d0d3dc;
	color				: #444444;
	color2				: #444444;
	font				: Dotum,9;
	controlbackground : #fffbccff ;
}

