/***************************************************************/
/***** 프로젝트명 : 한화FC종합전산구축프로젝트	********/
/***** 작  성  일 : 2014.11.				********/
/***** 작  성  자 : TOBESOFT				********/
/***** 배  포  일 : 2014.00.				********/
/***** 수  정  자 :  					********/
/***** 수  정  일 :  					********/
/***** 수정내역   :  					********/
/***************************************************************/

/** Spoon Theme에 쓰이는 속성만 쓰여있습니다 **/

/*********************** Frame(테마) Start **************************************/
/*********************************************************************************/
/*********************** Main Frame Start ****************************************/
/*********************************************************************************/
MainFrame>TitlebarForm
{
	background			: #3f42a1 URL('theme://ImagesSpoon/sta_TT_BgSpoon.png') left middle;
	border				: 0 none, 0 none, 1 solid #37408d, 0 none;
}
MainFrame>TitlebarForm>#minbutton
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_MinBtnNSpoon.png') center middle;
}
MainFrame>TitlebarForm>#minbutton:mouseover
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_MinBtnOSpoon.png') center middle;
}
MainFrame>TitlebarForm>#minbutton:pushed
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_MinBtnPSpoon.png') center middle;
}
MainFrame>TitlebarForm>#maxbutton
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_MaxBtnNSpoon.png') center middle;
}
MainFrame>TitlebarForm>#maxbutton:mouseover
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_MaxBtnOSpoon.png') center middle;
}
MainFrame>TitlebarForm>#maxbutton:pushed
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_MaxBtnPSpoon.png') center middle;
}
MainFrame>TitlebarForm>#normalbutton
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_NormalBtnNSpoon.png') center middle;
}
MainFrame>TitlebarForm>#normalbutton:mouseover
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_NormalBtnOSpoon.png') center middle;
}
MainFrame>TitlebarForm>#normalbutton:pushed
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_NormalBtnPSpoon.png') center middle;
}
MainFrame>TitlebarForm>#closebutton
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_CloseBtnNSpoon.png')  center middle;
}
MainFrame>TitlebarForm>#closebutton:mouseover
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_CloseBtnOSpoon.png') center middle;
}
MainFrame>TitlebarForm>#closebutton:pushed
{
	background			: transparent URL('theme://ImagesSpoon/img_TT_CloseBtnPSpoon.png') center middle;
}



/*********************************************************************************/
/*********************** Main Frame End ****************************************/
/*********************************************************************************/


/*********************************************************************************/
/*********************** TitleBar /Top Frame Start *******************************/
/*********************************************************************************/
/******** B ********/
Button.btn_TT_System, Button.btn_TT_System:focused, Button.btn_TT_System:disabled
{
	color				: #d9d9ec;
}

Button.btn_TT_Change, Button.btn_TT_Change:focused, Button.btn_TT_Change:disabled
{
	color				: #d9d9ec;
}
Button.btn_TT_Control, Button.btn_TT_Control:focused, Button.btn_TT_Control:disabled
{
	color				: #d9d9ec;
}
Button.btn_TT_Logout, Button.btn_TT_Logout:focused, Button.btn_TT_Logout:disabled
{
	color				: #d8c7aa;
}
Button.btn_TF_Gnb:mouseover, Button.btn_TF_Gnb:pushed
{
	background			: transparent URL('theme://ImagesSpoon/img_TF_MenuBgSpoon.png') stretch 3,3;
	color				: #ffbb91;
}
Button.btn_TF_Gnb, Button.btn_TF_Gnb:disabled
{
	background			: transparent URL('theme://ImagesSpoon/img_TF_MenuBgLineSpoon.png') right top;
}
Button.btn_TF_Gnb:selected, Button.btn_TF_Gnb:focused
{
	background			: transparent URL('theme://ImagesSpoon/img_TF_MenuBgSpoon.png') stretch 3,3;
	color				: #ffbb91;
	image				: URL('theme://ImagesSpoon/img_TF_MenuBgSSpoon.png');
}
Button.btn_TF_GnbS, Button.btn_TF_GnbS:mouseover, Button.btn_TF_GnbS:pushed, 
Button.btn_TF_GnbS:focused, Button.btn_TF_GnbS:selected, Button.btn_TF_GnbS:disabled
{
	background			: transparent URL('theme://ImagesSpoon/img_TF_MenuBgSpoon.png') stretch 3,3;
	color				: #ffbb91;
	image				: URL('theme://ImagesSpoon/img_TF_MenuBgSSpoon.png');
}
Button.btn_TF_MenuPrev, Button.btn_TF_MenuPrev:focused
{
	background			: URL('theme://ImagesSpoon/btn_TF_menuPrevNSpoon.png') center middle;
}
Button.btn_TF_MenuPrev:mouseover, Button.btn_TF_MenuPrev:selected
{
	background			: URL('theme://ImagesSpoon/btn_TF_MenuPrevOSpoon.png') center middle;
}
Button.btn_TF_MenuPrev:pushed
{
	background			: URL('theme://ImagesSpoon/btn_TF_MenuPrevPSpoon.png') center middle;
}
Button.btn_TF_MenuPrev:disabled
{
	background			: transparnet URL('theme://ImagesSpoon/btn_TF_MenuPrevDSpoon.png') center middle;
}
Button.btn_TF_MenuNext, Button.btn_TF_MenuNext:focused
{
	background			: URL('theme://ImagesSpoon/btn_TF_MenuNextNSpoon.png') center middle;
}
Button.btn_TF_MenuNext:mouseover, Button.btn_TF_MenuNext:selected
{
	background			: URL('theme://ImagesSpoon/btn_TF_MenuNextOSpoon.png') center middle;
}
Button.btn_TF_MenuNext:pushed
{
	background			: URL('theme://ImagesSpoon/btn_TF_MenuNextPSpoon.png') center middle;
}
Button.btn_TF_MenuNext:disabled
{
	background			: transparnet URL('theme://ImagesSpoon/btn_TF_MenuNextDSpoon.png') center middle;
}
Button.btn_TF_Formfind:mouseover, Button.btn_TF_Formfind:selected
{
	background			: URL('theme://ImagesSpoon/btn_TF_FormfindOSpoon.png') center middle;
}
Button.btn_TF_Formfind:pushed
{
	background			: URL('theme://ImagesSpoon/new/btn_TF_FormfindPSpoon.png') center middle;
}
Button.btn_TF_Formfind:disabled
{
	background			: transparent URL('theme://ImagesSpoon/btn_TF_FormfindDSpoon.png') center middle;
}


/******** S ********/
Static.sta_TT_Bg
{
	background			: #3f42a1 URL('theme://ImagesSpoon/sta_TT_BgSpoon.png') left middle;
	border				: 0 none, 0 none, 1 solid #37408d, 0 none;
}
Static.sta_TF_Bg
{
	background			: #4d50ad;
	border				: 0 none, 0 none, 2 solid #f3557a, 0 none;
}


/*********************************************************************************/
/*********************** TitleBar /Top Frame Start *******************************/
/*********************************************************************************/


/*********************************************************************************/
/*********************** Left Frame Start ****************************************/
/*********************************************************************************/
/******** G ********/
Grid.grd_LF_RecentMenu
{
	color				: #c7d7fc;
}
Grid.grd_LF_RecentMenu>#body
{
	color				: #c7d7fc;
	cellcolor			: #c7d7fc;
	cellcolor2			: #c7d7fc;
	selectbackground		: #8186d1;
	selectcolor			: #ffffff;
}
Grid.grd_LF_RecentMenu>#body:mouseover
{
	cellbackground			: #8186d1;
	cellbackground2			: #8186d1;
	cellcolor			: #ffffff;
	cellcolor2			: #ffffff;
	selectbackground		: #8186d1;
	selectcolor			: #ffffff;
}


/*********************************************************************************/
/*********************** Left Frame End ****************************************/
/*********************************************************************************/


/*********************************************************************************/
/*********************** Basic Component Start ***********************************/
/*********************************************************************************/
/******** G ********/
Grid>#body
{
	selectbackground		: #6f71b6;
}
Grid>#body:mouseover
{
	cellbackground			: #d5d7f4;
	cellbackground2			: #d5d7f4;
	selectbackground		: #6f71b6;
}


/*********************************************************************************/
/*********************** Basic Component End ***********************************/
/*********************************************************************************/

/*********************************************************************************/
/*********************** 일반 클래스 컴포넌트 Start   ****************************/
/*********************************************************************************/
/******** B ********/
Button.btn_WF_searchCm, Button.btn_WF_searchCm:focused
{
	align				: left middle;
	background			: #e56b88 URL('theme://images/new/btn_WF_searchCm.png') left middle;
	border				: 0 none;
	bordertype			: round 3 3;
	color				: #ffffff;
	font				: Gulim,9,bold;
	padding				: 1 0 0 26;
	shadow				: 0 0;
}
Button.btn_WF_searchCm:mouseover, Button.btn_WF_searchCm:selected
{
	background			: #f98fa8 URL('theme://images/new/btn_WF_searchCm.png') left middle;
	border				: 0 none;
	color				: #ffffff;
}
Button.btn_WF_searchCm:pushed
{
	background			: #bf5871 URL('theme://images/new/btn_WF_searchCm.png') left middle;
	border				: 1 solid #99465a, 0 none, 0 none, 0 none;
	color				: #ffffff;
	padding				: 0 0 0 26;
}
Button.btn_WF_searchCm:disabled
{
	background			: #e3b9c3 URL('theme://images/new/btn_WF_searchCmD.png') left middle;
	border				: 0 none;
	color				: #f4e3e7;
}
Button.btn_WFSA_BgOpen1
{
	background			: URL('theme://imagesSpoon/btn_WFSA_BgOpen1NSpoon.png') right bottom;
	border				: 0 none;
	bordertype			: normal;
	shadow				: 0 0;
}
Button.btn_WFSA_BgOpen1:mouseover, Button.btn_WFSA_BgOpen1:focused, Button.btn_WFSA_BgOpen1:pushed
{
	background			: URL('theme://imagesSpoon/btn_WFSA_BgOpen1OSpoon.png') right bottom;
	border				: 0 none;
}
Button.btn_WFSA_BgOpen1:disabled
{
	background			: URL('theme://imagesSpoon/btn_WFSA_BgOpen1DSpoon.png') right bottom;
	border				: 0 none;
}
Button.btn_WFSA_BgClose1, Button.btn_WFSA_BgClose1:selected
{
	background			: URL('theme://imagesSpoon//btn_WFSA_BgClose1NSpoon.png') right bottom;
	border				: 0 none;
	bordertype			: normal;
	shadow				: 0 0;
}
Button.btn_WFSA_BgClose1:mouseover, Button.btn_WFSA_BgClose1:focused, Button.btn_WFSA_BgClose1:pushed
{
	background			: URL('theme://imagesSpoon/btn_WFSA_BgClose1OSpoon.png') right bottom;
	border				: 0 none;
}
Button.btn_WFSA_BgClose1:disabled
{
	background			: URL('theme://imagesSpoon/btn_WFSA_BgClose1DSpoon.png') right bottom;
	border				: 0 none;
}


/******** C ********/
Cell.Cellgrd_WF_CalExpand
{
	selectbackground		: #6f71b6 URL('theme://images/new/cal_WF_IconN.png') center middle;
}
Cell.Cellgrd_WF_CalExpand:mouseover
{
	background1		: #d5d7f4 URL('theme://images/new/cal_WF_IconN.png') center middle;
	background2		: #d5d7f4 URL('theme://images/new/cal_WF_IconN.png') center middle;
	selectbackground		: #d5d7f4 URL('theme://images/new/cal_WF_IconN.png') center middle;
}

/******** D ********/
Div.div_WFSA_Labelbg
{
	background			: #efecfe;
	border				: 1 solid #9699dd;
}


/******** G ********/
Grid>#body>Cell.Cellgrd_WF_Plusbtn
{
	selectbackground		: #6f71b6 URL('theme://images/new/grd_WF_Plusbtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Plusbtn:mouseover
{
	background			: #d5d7f4 URL('theme://images/new/grd_WF_Plusbtn.png') center middle;
	background2			: #d5d7f4 URL('theme://images/new/grd_WF_Plusbtn.png') center middle;
	selectbackground		: #6f71b6 URL('theme://images/new/grd_WF_Plusbtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Minusbtn
{
	selectbackground		: #6f71b6 URL('theme://images/new/grd_WF_Minusbtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Minusbtn:mouseover
{
	background			: #d5d7f4 URL('theme://images/new/grd_WF_Minusbtn.png') center middle;
	background2			: #d5d7f4 URL('theme://images/new/grd_WF_Minusbtn.png') center middle;
	selectbackground		: #6f71b6 URL('theme://images/new/grd_WF_Minusbtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Camerabtn
{
	selectbackground		: #6f71b6 URL('theme://images/new/grd_WF_Camerabtn.png') center middle;
}
Grid>#body>Cell.Cellgrd_WF_Camerabtn:mouseover
{
	background			: #d5d7f4 URL('theme://images/new/grd_WF_Camerabtn.png') center middle;
	background2			: #d5d7f4 URL('theme://images/new/grd_WF_Camerabtn.png') center middle;
	selectbackground		: #6f71b6 URL('theme://images/new/grd_WF_Camerabtn.png') center middle;
}


/******** S ********/
Static.sta_WF_Title, Static.sta_WF_Title:disabled
{
	align				: left top;
	background			: URL('theme://imagesSpoon/sta_WF_TitleSpoon.png') left top;
	font				: Gulim, 10, bold;
	color				: #6668c0;
	padding				: 2 0 0 20;
}
Static.sta_WFSA_Labelbg
{
	background			: #efecfe;
	border				: 1 solid #9699dd;
}


/***************************20150225 추가*******************************/
Static.sta_WF_GridBg
{
	background			: #ffffff;
	border				: 1 solid #adadad;
}

Cell.Cellgrd_WF_Point
{
	background			: #fffbcc;
	background2			: #fffbcc;
	line				: 1px solid #d0d3dc;
	color				: #444444;
	color2				: #444444;
	font				: Dotum,9;
	controlbackground : #fffbccff ;
}